body {
    font-family: 'Roboto', arial, sans-serif;
    margin-left: 0;
    color: #3c4043;
    font-size: 14px;
}

#navbar li {
    text-decoration: none;
    list-style-type: none;
    display: inline-flex;
}

#navbar a:link {
    text-decoration: none;
    color:#3c4043;
}

#navbar a:hover {
    text-decoration: underline;
}

#navbar a:visited {
    color:#3c4043;
}

#navbar {
    padding: 3px 20px;
    display: flex;
}

#navbar #About {
    padding: 5px 10px 5px 5px ;
    margin: 0 5ps 0 15px;
}

#navbar #Store {
    padding: 5px 1102px 5px 5px;
    margin: 0 5px;
}

#navbar #Gmail {
    padding: 5px 6px 5px 5px;
    font-size: 13px;
}

#navbar #Images {
    padding: 5px;
    font-size: 13px;
}

#navbar #Google-apps {
    padding: 5px;
}

#navbar #Profile {
    padding: 5px;
}

.upper-right {
    position: relative;
    display: block;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 270px;
    margin-top: 101px;
}

.search {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    border: 1px solid lightgray;
    border-radius: 30px;
    width: 550px;
    padding: 10px 15px 10px 15px;
}

.search #bi.bi-search {
    fill: dark;
    margin-left: 5px;
    height: 24px;
    width: 24px;
    display: flex;
    margin-top: 12px;
}

#search-bar {
    display: flex;
    border: none;
    width: 90%;
    margin-left: 2px;
    margin-right: 2px;
}

.glass {
    height: 24px;
    width: 24px;
}

.mic {
    height: 24px;
    width: 24px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.buttons > .push:not(:last-child) {
    margin-right: 10px;
}

.push {
    border: 1px solid #f8f9fa;
    padding: 10px 18px;
    background-color: #f8f9fa;
    border-radius: 4px;
}

#Google-Search:hover {
    border: 1px solid #dadce0;
    box-shadow: 0px 1px 1px rgb(0 0 0 /  10%);
}

#Lucky:hover {
    border: 1px solid #dadce0;
    box-shadow: 0px 1px 1px rgb(0 0 0 /  10%);
}

footer {
    background-color: rgb(240, 240, 240);
    position: absolute;
    bottom: 0;
    width: 100%;
}

#foot {
    color: gray;
    padding: 1px 35px;
}

#foot ul {
    display: inline-flex;
}

#foot li {
    display: inline-flex;
}

#foot > li:not(:last-child) {
    padding-right: 26px;
}

#foot li a:link {
    text-decoration: none;
    color: gray;
}

#foot li a:visited {
    color: gray;
}

#foot li:hover {
    text-decoration: underline;
} 

#How-Search-works {
    padding-right: 843px;
}

#Images {
    padding-right: 20px;
}

#Profile {
    font-size: 20px;
    background-color: pink;
    border-radius: 50%;
    width: 24px;
    color: white;
}

#Profile:hover {
    border 2px solid black
}

.apps {
    width: 24px;
    height: 24px;
    justify-self: center;
}

.apps:hover {
    background-color: lightgray;
    border-radius: 50%;
    border: 5px solid lightgray;
}